DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1

# Keycloak OAuth2 Client Credentials (Order Service)
# Bu degerleri Keycloak'tan aldiginiz client bilgileriyle degistirin.
ORDER_SERVICE_CLIENT_ID=order-service-client
ORDER_SERVICE_CLIENT_SECRET=TwSI6dM4Z3xHs0X8dnAXllckrllblnOX

